body 
{
	align-content: center;	
}
table
{
	background-color: #dddddd;
}
table, th, td, tr
{
	border-collapse: collapse;
	border: 1px solid white;
}
#content pre
{
	font-family: consolas;
	padding: 5px;
	border-radius: 5px;
	background-color: #dddddd;	
}
img
{
	max-width: 100%;
}
#main
{
	align-content: center;
	margin: auto;
	width: 80%;	
	padding-top: 50px;
	min-width: 1000px;
}
#navigation
{
	font-family: consolas;
	text-align: right;
	float: left;
	padding-top: 20px;
	min-width: 100px;
}

#content
{
	font-family: consolas;
	float:left;
	width: 80%;
	padding-left: 20px;
	min-width: 800px;
}
a
{
	color: black;
	text-decoration: none;
}
a:visited
{
	color: black;
	text-decoration: none;
}
footer 
{
	  text-align: center;
	  padding: 3px;
	  background-color: white;
	  color: white;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
}


