
# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: CopyFilesOverSSH@0
  inputs:
    sshEndpoint: 'kekkissshtunneluser'
    contents: '*.md'
    targetFolder: '$(tpath)'
    readyTimeout: '20000'
    failOnEmptySource: true